<web-app>
    <servlet>
        <servlet-name>VolumeCalculatorServlet</servlet-name>
        <servlet-class>VolumeCalculatorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VolumeCalculatorServlet</servlet-name>
        <url-pattern>/VolumeCalculatorServlet</url-pattern>
    </servlet-mapping>
</web-app>
